<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css"></link>
</head>
<body>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <div class="title">Login Page</div>
    <div class="form-container">
        <div class="form-item">
            <div>username:</div>
            <input type="text" name="username" id="username"></input>
        </div>
    
        <div class="form-item">
            <div>password:</div>
            <input type="password" name="password" id="password"></input>
        </div>
        <div class="form-item">
            <button type="primary" class="btn-register">
                <a href="/register">Register</a>
            </button>
            <button type="primary" onclick="login()">Login</button>
        </div>
    </div>
    <script type="text/javascript">
        function login() {
            const username = $('#username').val();
            const password = $('#password').val();
            console.log(username, password);

            if (username === undefined || password === undefined) {
                alert('Please enter your info.');
                return;
            }
            const data = {
                username, password
            }

            $.ajax({
                url: '/login',
                method: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: (data) => {
                    if (data.result === 'ok') {
                        alert('login successful');
                        console.log(data);
                        window.location.href = data.next_url;
                    } else {
                        console.log(data);
                    }
                },
                error: (e) => {
                    console.log(e);
                }
            })
        }

    </script>
    
</body>
</html>