<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <div>Register Page</div>
    <div>
        <div>
            <label>nickname:</label>
            <input type="text" name="nickname" id="nickname"></input>
        </div>
        <div>
            <label>username:</label>
            <input type="text" name="username" id="username"></input>
        </div>

        <div>
            <label>password:</label>
            <input type="password" name="password" id="password"></input>
        </div>
    </div>
    <button id="register" type="primary" class="btn" onclick="register()">Register</button>
    <script type="text/javascript">
        function register() {
            const nickname = $('#nickname').val();
            const username = $('#username').val();
            const password = $('#password').val();
            console.log(nickname, username, password);

            if (nickname === undefined || username === undefined || password === undefined) {
                alert('Please enter your info.');
                return;
            }
            const data = {
                nickname, username, password
            }

            $.ajax({
                url: '/register',
                method: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: (data) => {
                    if (data.result === 'ok') {
                        alert('register successful')
                        window.location.href = '/login';
                    }
                    console.log(data);
                },
                error: (e) => {
                    console.log(e);
                }
            })
        }
    </script>
</body>
</html>